<div class="container slider-box">
  <h2 class="title-slider">Most Popular</h2>
  <div class="image-slider__wrapper swiper">
    <!-- Additional required wrapper -->
    <div class="image-slider__slide swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img src="/images/team-foto/Posokhin Dmitry.jpg" /></div>
      <div class="swiper-slide"><img src="/images/team-foto/Posokhin Dmitry.jpg" /></div>
      <div class="swiper-slide"><img src="/images/team-foto/Posokhin Dmitry.jpg" /></div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
