<form class="form-inline p-3 bg-primary d-flex justify-content-center js-search-form">
    <div class="form-group col-md-4 d-inline-flex justify-content-center">
        <input type="text" class="form-control border-0 rounded-0 rounded-start" name="query" autocomplete="off"
            placeholder="film..." required />

        <button type="submit" class="btn btn-primary btn-light btn-sm rounded-0 border-0 rounded-end">
            <span class="material-icons-outlined align-middle">search</span>
        </button>
    </div>
</form>