<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="gallery">
        <ul class="list gallery_list">
          <li class="gallery_card">
            <img
              class="gallery_img"
              src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/a26cQPRhJPX6GbWfQbvZdrrp9j9.jpg"
              alt="picture"
              width="280"
              height="400"
            />
            <h2 class="gallery_title">title</h2>
            <div class="label">
              <span class="gallery_label">genre</span> | <span class="gallery_label">years</span>
              <span class="label_rating">10.0</span>
            </div>
          </li>
          <li class="gallery_card">
            <img
              class="gallery_img"
              src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rUPKPWBpr2ZbDXXZpT0qgYqTlG9.jpg"
              alt="picture"
              width="280"
              height="400"
            />
            <h2 class="gallery_title">title</h2>
            <div class="label">
              <span class="gallery_label">genre</span> | <span class="gallery_label">years</span>
              <span class="label_rating">10.0</span>
            </div>
          </li>
          <li class="gallery_card">
            <img
              class="gallery_img"
              src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rUPKPWBpr2ZbDXXZpT0qgYqTlG9.jpg"
              alt="picture"
              width="280"
              height="400"
            />
            <h2 class="gallery_title">title</h2>
            <div class="label">
              <span class="gallery_label">genre</span> | <span class="gallery_label">years</span>
              <span class="label_rating">10.0</span>
            </div>
          </li>
          <li class="gallery_card">
            <img
              class="gallery_img"
              src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rUPKPWBpr2ZbDXXZpT0qgYqTlG9.jpg"
              alt="picture"
              width="280"
              height="400"
            />
            <h2 class="gallery_title">title</h2>
            <div class="label">
              <span class="gallery_label">genre</span> | <span class="gallery_label">years</span>
              <span class="label_rating">10.0</span>
            </div>
          </li>
          <li class="gallery_card">
            <img
              class="gallery_img"
              src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rUPKPWBpr2ZbDXXZpT0qgYqTlG9.jpg"
              alt="picture"
              width="280"
              height="400"
            />
            <h2 class="gallery_title">title</h2>
            <div class="label">
              <span class="gallery_label">genre</span> | <span class="gallery_label">years</span>
              <span class="label_rating">10.0</span>
            </div>
          </li>
          <li class="gallery_card">
            <img
              class="gallery_img"
              src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rUPKPWBpr2ZbDXXZpT0qgYqTlG9.jpg"
              alt="picture"
              width="280"
              height="400"
            />
            <h2 class="gallery_title">title</h2>
            <div class="label">
              <span class="gallery_label">genre</span> | <span class="gallery_label">years</span>
              <span class="label_rating">10.0</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
