<div class="container slider-wrapper">
  <h2 class="title-slider">Most Popular</h2>
  <div class="image-slider swiper swiper-container">
    <div class="image-slider__wrapper swiper-wrapper">
      <div class="image-slider__slide swiper-slide">
        <!--example-->
        <div class="image-slider__image">
          <img src="/images/team-foto/Posokhin Dmitry.jpg" />
        </div>

        <div class="image-slider__image">
          <img src="images/team-foto/Vitalii Prykhodko.jpg" />
        </div>
        <div class="image-slider__image">
          <img src="/images/team-foto/Posokhin Dmitry.jpg" />
        </div>

        <div class="image-slider__image">
          <img src="/images/team-foto/Vitalii Prykhodko.jpg" />
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>

    <!---->
  </div>
</div>
