<div class="container slider-box">
  <h2 class="title-slider">Most Popular</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="image-slider swiper-slide">
        <img src="/images/team-foto/Posokhin Dmitry.jpg" />
      </div>
      <div class="image-slider swiper-slide">
        <img src="/images/team-foto/Posokhin Dmitry.jpg" />
      </div>
      <div class="image-slider swiper-slide">
        <img src="/images/team-foto/Posokhin Dmitry.jpg" />
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<!--<div class="container slider-wrapper">
  <h2 class="title-slider">Most Popular</h2>
  <div class="image-slider swiper">
    <div class="image-slider__wrapper swiper-wrapper"></div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>-->
