<div class="backdrop is-hidden">
    <div class="modal-window">
        <h3 class="team__title">Dementors</h3>
        <div class="team_container ">
            <div class="card multiple-items">
              <div class='picture'>
                <img
                  class='team_card__img'
                  src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  width='150px'
                  height='100px'
                  alt="Oleksandr Balitskiy"
                />
              </div>
              <div class='team-content'>
                <h3 class='name'>
                  Oleksandr Balitskiy
                </h3>
                <a href="https://github.com/popingalov">
                  <img
                    align='left'
                    class='github'
                    alt='GitHub'
                    width='15px'
                    src='https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png'
                  />
                </a>
                <h4 class='title'>
                  <span>Team lead</span>
                </h4>
              </div>
            </div>
            <div class="card multiple-items">
              <div class='picture'>
                <img
                  class='team_card__img'
                  src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  width='150px'
                  height='100px'
                  alt="Oleksandr Balitskiy"
                />
              </div>
              <div class='team-content'>
                <h3 class='name'>
                  Oleksandr Balitskiy
                </h3>
                <a href="https://github.com/popingalov">
                  <img
                    align='left'
                    class='github'
                    alt='GitHub'
                    width='15px'
                    src='https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png'
                  />
                </a>
                <h4 class='title'>
                  
                  Front-end Developer
                </h4>
              </div>
            </div>
            <div class="card">
              <div class='picture'>
                <img
                  class='team_card__img'
                  src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  width='150px'
                  height='100px'
                  alt="Oleksandr Balitskiy"
                />
              </div>
              <div class='team-content'>
                <h3 class='name'>
                  Oleksandr Balitskiy
                </h3>
                <a href="https://github.com/popingalov">
                  <img
                    align='left'
                    class='github'
                    alt='GitHub'
                    width='15px'
                    src='https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png'
                  />
                </a>
                <h4 class='title'>
                  
                  Front-end Developer
                </h4>
              </div>
            </div>
            <div class="card">
              <div class='picture'>
                <img
                  class='team_card__img'
                  src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  width='150px'
                  height='100px'
                  alt="Oleksandr Balitskiy"
                />
              </div>
              <div class='team-content'>
                <h3 class='name'>
                  Oleksandr Balitskiy
                </h3>
                <a href="https://github.com/popingalov">
                  <img
                    align='left'
                    class='github'
                    alt='GitHub'
                    width='15px'
                    src='https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png'
                  />
                </a>
                <h4 class='title'>
                  Front-end Developer
                </h4>
              </div>
            </div>
            <div class="card">
              <div class='picture'>
                <img
                  class='team_card__img'
                  src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  width='150px'
                  height='100px'
                  alt="Oleksandr Balitskiy"
                />
              </div>
              <div class='team-content'>
                <h3 class='name'>
                  Oleksandr Balitskiy
                </h3>
                <a href="https://github.com/popingalov">
                  <img
                    align='left'
                    class='github'
                    alt='GitHub'
                    width='15px'
                    src='https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png'
                  />
                </a>
                <h4 class='title'>
                  Front-end Developer
                </h4>
              </div>
            </div>
            <div class="card">
              <div class='picture'>
                <img
                  class='team_card__img'
                  src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  width='150px'
                  height='100px'
                  alt="Oleksandr Balitskiy"
                />
              </div>
              <div class='team-content'>
                <h3 class='name'>
                  Oleksandr Balitskiy
                </h3>
                <a href="https://github.com/popingalov">
                  <img
                    align='left'
                    class='github'
                    alt='GitHub'
                    width='15px'
                    src='https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png'
                  />
                </a>
                <h4 class='title'>
                  Front-end Developer
                </h4>
              </div>
            </div>
            <div class="card">
              <div class='picture'>
                <img
                  class='team_card__img'
                  src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  width='150px'
                  height='100px'
                  alt="Oleksandr Balitskiy"
                />
              </div>
              <div class='team-content'>
                <h3 class='name'>
                  Oleksandr Balitskiy
                </h3>
                <a href="https://github.com/popingalov">
                  <img
                    align='left'
                    class='github'
                    alt='GitHub'
                    width='15px'
                    src='https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png'
                  />
                </a>
                <h4 class='title'>
                  Front-end Developer
                </h4>
              </div>
            </div>
            <div class="card">
              <div class='picture'>
                <img
                  class='team_card__img'
                  src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                  width='150px'
                  height='100px'
                  alt="Oleksandr Balitskiy"
                />
              </div>
              <div class='team-content'>
                <h3 class='name'>
                  Volodymyr Hlukhov
                </h3>
                <a href="https://github.com/volokads">
                  <img
                    align='left'
                    class='github'
                    alt='GitHub'
                    width='15px'
                    src='https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png'
                  />
                </a>
                <h4 class='title'>
                  Front-end Developer
                </h4>
              </div>
            </div>
            
        </div>
    <button class="modal-close__btn" type="button">
    <svg width="25" height="25" class="modal__icon">
        <use href="./images/icons.svg#icon-close"></use>
    </svg>
    </button>
    </div>
</div>
<!-- ../../src/images/icons.svg#icon-close -->
<!-- ../images/icons.svg#icon-close -->