.categories-wrapper {
  margin-top: 20px;
  margin-left: 15px;

}

.categories-button {
  display: block;
  min-width: 136px;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 5px;
  transition: transform var(--timing-function) var(--transition-function);
  &:hover{
    border: 1px solid var(--color-accent);
    transform: scale(1.10)
  }
}

.genres{
  max-width: 510px;
  margin-left: auto;
  padding: 20px;
  margin: auto;
  
}

.genres-list{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.genres-item{
  width: 140px;
  border: 1px solid #9b9a9a;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  transition: transform var(--timing-function) var(--transition-function) ;
  &:hover{
    background-color: var(--color-accent);
    color: white;
    border: transparent;
    transform: scale(1.10)
  }
  
  
}
.genres-text{
  text-align: center;
  padding: 10px 5px;
}

.hidden{
  display: none;
}

.categories-button-active{
  background-color: var(--color-accent);
}
