.gallery {
  display: flex;
  justify-content: space-around;
}

.gallery_list {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
  }
}

.gallery_card {
  cursor: pointer;
  transition: transform var(--transition-function) var(--timing-function);
  &:hover, &:focus {
    transform: scale(1.1);
  }
}

.gallery_img {
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .gallery_card:not(:last-child) {
    margin-bottom: 20px;
  }
}
.gallery_img {
  border-radius: 5px;
}

.gallery_card:hover,
.gallery_card:focus {
  //transform:rotate(-1deg);
  transform: scale(1.1);
  transition: transform var(--transition-function) var(--timing-function);
}

.gallery_title {
  font-size: 12px;
  line-height: 1.17;
  margin-top: 10px;
  text-transform: uppercase;
}
.label {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: #ff6b08;
}

.label_rating {
  display: inline-flex;
  color: #fff;
  border-radius: 5px;
  background-color: #ff6b08;
  width: 36px;
  height: 16px;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}

#sentinel {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

#tui-pagination-container {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}
