.header-container {
  min-width: 280px;
  margin-bottom: 50px;
  //  background: black;
  //padding: 0px 5px;
}

.page-header--home {
  height: 230px;

  @media screen and (max-width: 320px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/images/mobile-home.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(/images/mobile-home@2x.jpg);
    }
  }

  @media screen and (min-width: 321px) and (max-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/images/home-h-tab.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(/images/home-h-tab@2x.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/images/home-h-desk.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(/images/home-h-desk@2x.jpg);
    }
  }
}

//library-list
.library {
  height: 230px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(/images/library-h-mob.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/images/library-h-mob@2x.jpg);
  }
  @media screen and (min-width: 321px) and (max-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/images/library-h-tab.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(/images/library-h-tab@2x.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/images/library-h-desk.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(/images/library-h-desk@2x.jpg);
    }
  }
}

/*.page-header__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
*/

//logo
//logo
.logo {
  display: flex;
  margin-right: auto;
  align-items: center;
  cursor: pointer;

  animation-duration: 1500ms;
}
//.logo-img {
//  margin-right: 12px;
//  margin-top: 46px;
//}

.logo__title {
  //margin-top: 41px;
  margin-left: 12px;

  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  display: none;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    color: var(--color-white);
    display: block;
    transition: color var(--transition-function) var(--timing-function);
  }
  @media screen and (min-width: 1024px) {
    color: var(--color-white);
    display: block;
    transition: color var(--transition-function) var(--timing-function);
  }
}

.logo__title:hover,
.logo__title:focus {
  color: var(--color-accent);
  transition: var(--transition-function) var(--timing-function);
  transition-property: color;
}

// NAV

.site-nav {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.site-navigation {
  //height: 0;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
}
/*.site-nav__list {
  display: flex;
  height: 0;
}

.site-nav__item {
  &:not(:last-child) {
    margin-right: 40px;

    @media screen and (max-width: 767px) {
      margin-right: 16px;
    }
  }
}*/
.home__button {
  outline: none;
  cursor: pointer;
  margin-right: 39px;
  background-color: transparent;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  border: none;
  text-transform: uppercase;
}
.site-nav__button:hover {
  transform: scale(1.1);
}

.library__button {
  cursor: pointer;
  //  margin-right: 39px;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
}

.current {
  outline: none;
  padding-bottom: 3px;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-accent);
    border-radius: 2px;
  }
}
.sign-in {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

input::-webkit-input-placeholder {
  color: white;
}

//
.library__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.btn-action {
  display: block;
  min-width: 136px;
  height: 44px;
  padding-left: 38px;
  padding-right: 38px;
  background-color: transparent;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  outline: none;
}

.btn-action:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease;
}

.active {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.watched {
  margin-right: 15px;
}

//
///
.form-search {
  display: block;
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}

.input-text {
  font-size: 14px;
  width: 260px;
  color: white;
  padding-bottom: 4px;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 0.5px solid white;
  outline: none;
  @media screen and (min-width: 767px) {
    width: 336px;
  }
}
.form-search--hidden {
  display: none;
}
input::-webkit-input-placeholder {
  color: white;
}
.input-text:hover {
  border-color: var(--color-accent);
  opacity: 0.9;
}

/*.button {
  width: 130px;
  height: 44px;

  border: 1px solid;
  border-radius: 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  background-color: transparent;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);

  &:hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
  }

  &--active {
    border: none;
    background-color: var(--color-accent);

    &:hover {
      color: #fff;
    }
  }
}*/
